<a href="https://colab.research.google.com/github/Elizabeth0311/Algorithm_study/blob/main/ds_cs_N414a_ipynb_1%EC%B0%A8%EC%A0%9C%EC%B6%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://user-images.githubusercontent.com/6457691/90080969-0f758d00-dd47-11ea-8191-fa12fd2054a7.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 4 / SPRINT 1 / Assignment 4*

---
# N414. 신경망과 학습에 관련된 파라미터 튜닝 (HyperTune)



## 실전 연습과제

다음 통신사 고객 이탈(Churn) 데이터셋에서 정확도를 조정해보는 파라미터 학습을 진행해보겠습니다 : [다운로드](https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/telecom/TelcomCustomer.csv)

## 진행방식

- 데이터를 다운로드 받고 읽어옴(load)
- 데이터 클리닝을 진행 (필수는 아니지만 추천)
- Keras MLP model을 만들고, 학습 진행
- Hyperparameter 튜닝 진행:
 - batch_size
 - training epochs
 - optimizer
 - learning rate (optimizer에 따라서 해당되면)
 - momentum (optimizer에 따라서 해당되면)
 - activation functions
 - network weight initialization
 - dropout regularization
 - number of neurons in the hidden layer
 
하이퍼 파라미터의 초기 패스를 위해 그리드 검색 및 교차 검증을 사용할 수 있어야 합니다. 

실제 큰 통신회사의 데이터이기 때문에 최대한 정확하게 파악해 보십시오!

# 데이터 전처리

### 문항 1) 내 로컬 파일을 colab에 업로드하기

충분한 GPU를 가지고 있다면, 쉽게 문제를 해결할 수 있겠지만, 제한된 자원에서 충분한 GPU를 제공받지 못할 지 모릅니다. 이럴 때에는 딥러닝 커뮤니티에 물어볼 수도 있겠지만, 가성비 좋은 Colab의 GPU를 이용해서 실제 GPU사용량을 예측할 수 있다면 좋겠습니다. 모델 파라미터의 개수와 batch size 등이 GPU메모리에 큰 영향을 미치니 여러가지로 활용해보시기 바랍니다.

Colab의 GPU를 이용하기 위해서, 로컬로 진행하시던 분들도 이번에는 colab을 사용해봅시다. 

- 구글에서 colab의 라이브러리를 찾아서 업로드하세요. 
이후에 Pandas를 이용하여 데이터프레임으로 저장합니다.

colab을 사용하기위해서는 colab 라이브러리들을 잘 활용할 수 있으면 좋습니다. colab 기본형의 GPU의 사용제한 때문에 하지 못하는 일이 있다면, colab pro를 사용할 수 있습니다. 코드스테이츠에서 제공하는 colab pro 설치 가이드가 있지만, 스스로 문제를 해결해보시면 좋습니다. 그러나 도움이 필요하시면 HelpDesk에 문의해주시기 바랍니다.

### 로컬 파일을 업로드하는 코드를 입력하세요.

In [1]:
# 로컬 파일 업로드
##### Your Code Here #####

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
# 데이터 불러오기
import pandas as pd
df = pd.read_csv('/content/sample_data/TelcomCustomer.csv')

In [2]:
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

### 문항 2) 결측치가 있는지 isnull()함수를 이용하여 확인하고 결과값을 입력하시오.

In [3]:
# 결측치 확인
##### Your Code Here #####

df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

### 문항 3) dtypes를 이용해서 데이터 타입을 확인하고 아래 문제에 답하시오.

TotalCharges와 같이 중요한 타켓값이 숫자로 되어있어야 하는데, object로 되어있는 것을 확인하고 숫자형으로 바꿔주세요. <br>
숫자형이 아닌 결측치의 개수는 몇개인가요?

In [4]:
# 데이터 타입 확인, TotalCharges 숫자형으로 변환, 결측치 확인, 결측치 드랍
##### Your Code Here #####

#데이터 타입 확인 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [5]:
# TotalCharges float 변환 
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

# 타입 확인  
tc_type = df['TotalCharges'].dtype

# 결측치 갯수 확인 
tc_null = df['TotalCharges'].isnull().sum()

# 결측치 드랍 
df_drop = df.dropna(axis=0)

print('타입확인 : ', tc_type)
print('결측치 갯수 :' , tc_null)
df_drop.head()

타입확인 :  float64
결측치 갯수 : 11

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95      1889.50     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [6]:
# customerID 드랍
df = df_drop.drop(columns='customerID')

In [7]:
# 'No internet service' 로 표현되어 있는 것을 'No'로 변경
no_internet_feats = [ 'TechSupport','OnlineBackup', 'DeviceProtection','StreamingTV',
                 'OnlineSecurity','StreamingMovies']

for i in no_internet_feats:
    df[i] = df[i].replace({'No internet service':'No'})

# 'No phone service' 로 표현되어 있는 것을 'No'로 변경
df['MultipleLines']=df['MultipleLines'].replace({'No phone service':'No'})

# 0으로 표기된 것을 'No'로, 1로 표기된 것을 'Yes'로 변경
df['SeniorCitizen']=df['SeniorCitizen'].replace({0:'No',
                                                 1:'Yes'})

In [ ]:
!pip install category_encoders

In [8]:
df.head(3)

   gender SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
0  Female            No     Yes  ...          29.85         29.85    No
1    Male            No      No  ...          56.95       1889.50    No
2    Male            No      No  ...          53.85        108.15   Yes

[3 rows x 20 columns]

In [9]:
# 원핫 인코딩
from category_encoders import OrdinalEncoder

encoder = OrdinalEncoder()
df_encoded = encoder.fit_transform(df)

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [10]:
df_encoded.head()

   gender  SeniorCitizen  Partner  ...  MonthlyCharges  TotalCharges  Churn
0       1              1        1  ...           29.85         29.85      1
1       2              1        2  ...           56.95       1889.50      1
2       2              1        2  ...           53.85        108.15      2
3       2              1        2  ...           42.30       1840.75      1
4       1              1        2  ...           70.70        151.65      2

[5 rows x 20 columns]

In [11]:
# 타겟을 0과 1로 바꿔주기
df_encoded['Churn'] = df_encoded['Churn'].replace({1: 0, 2: 1})
df_encoded['Churn'].value_counts()

0    5163
1    1869
Name: Churn, dtype: int64

In [12]:
df_encoded.shape

(7032, 20)

### 문항 4) 훈련집합과 테스트 집합을 나누는 코드를 만들고, 해당 코드를 입력하시오.

- random_state=1
- test_size=0.25

In [44]:
# 훈련, 테스트 셋을 나누기
##### Your Code Here #####

from sklearn.model_selection import train_test_split

train, test = train_test_split(df_encoded, stratify=df_encoded['Churn'], test_size=0.25, random_state=1)

train.shape, test.shape

((5274, 20), (1758, 20))

In [45]:
# features 와 target 을 분리
target = 'Churn'
features = df_encoded.drop(columns=[target]).columns

X_train = train[features]
X_test = test[features]

y_train = train[target]
y_test = test[target]

### 문항 5) sklearn.preprocessing.StandardScaler를 이용하여 정규화를 진행하시고, 문제를 보고 빈칸에 알맞은 단어를 넣으시오.

`X_train_scaled = scaler.##### Your Code Here #####`

In [46]:
# 정규화
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [47]:
X_train_scaled[0]

array([ 0.99508225, -0.43925252,  0.96350214, -0.65400354, -0.09779796,
        0.32541085,  1.16743446, -1.19019364,  1.59286639,  0.72650531,
       -0.72042294, -0.64249881, -0.79264136,  1.25707392, -0.83276144,
       -0.83448511, -0.27868378, -0.00881575, -0.17257846])

# 모델링

## 기본 모델

In [30]:
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Flatten
import keras
import tensorflow as tf
import IPython
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV

In [ ]:
!pip install -U keras-tuner
import kerastuner as kt

### 문제 6. np.unique를 이용해서 y_train의 Class 의 개수를 확인하고 입력하시오.

In [48]:
# Class의 개수 확인
##### Your Code Here #####

# y_train 클래스 확인 -> 이진분류
y_train.unique()

array([0, 1])

In [49]:
# 간단한 모델 만들어서 성능을 보기 !
tf.random.set_seed(7)

model2 = Sequential()
model2.add(Dense(64, activation='relu'))
model2.add(Dense(64, activation='relu'))
model2.add(Dense(1, activation='sigmoid')) # ___분류이므로 노드수 1, 활성화 함수로는 시그모이드(sigmoid)

model2.compile(optimizer='adam', 
              loss='binary_crossentropy', 
              metrics=['accuracy'])

results = model2.fit(X_train_scaled, y_train, epochs=10, validation_data=(X_test_scaled,y_test))

Epoch 1/10
165/165 [==============================] - 1s 3ms/step - loss: 0.4604 - accuracy: 0.7710 - val_loss: 0.4491 - val_accuracy: 0.7912
Epoch 2/10
165/165 [==============================] - 1s 3ms/step - loss: 0.4164 - accuracy: 0.8019 - val_loss: 0.4461 - val_accuracy: 0.7986
Epoch 3/10
165/165 [==============================] - 0s 3ms/step - loss: 0.4071 - accuracy: 0.8066 - val_loss: 0.4482 - val_accuracy: 0.7918
Epoch 4/10
165/165 [==============================] - 1s 3ms/step - loss: 0.4018 - accuracy: 0.8117 - val_loss: 0.4452 - val_accuracy: 0.8020
Epoch 5/10
165/165 [==============================] - 0s 3ms/step - loss: 0.3969 - accuracy: 0.8159 - val_loss: 0.4512 - val_accuracy: 0.7947
Epoch 6/10
165/165 [==============================] - 0s 3ms/step - loss: 0.3943 - accuracy: 0.8151 - val_loss: 0.4527 - val_accuracy: 0.7901
Epoch 7/10
165/165 [==============================] - 0s 3ms/step - loss: 0.3900 - accuracy: 0.8176 - val_loss: 0.4520 - val_accuracy: 0.7958
Epoch 8/10
165/165 [==============================] - 1s 3ms/step - loss: 0.3886 - accuracy: 0.8180 - val_loss: 0.4533 - val_accuracy: 0.7929
Epoch 9/10
165/165 [==============================] - 0s 3ms/step - loss: 0.3836 - accuracy: 0.8210 - val_loss: 0.4551 - val_accuracy: 0.7856
Epoch 10/10
165/165 [==============================] - 0s 3ms/step - loss: 0.3799 - accuracy: 0.8225 - val_loss: 0.4638 - val_accuracy: 0.7810

In [50]:
# 테스트셋 사용해서 결과 보기
model2.evaluate(X_test_scaled,  y_test, verbose=2)

55/55 - 0s - loss: 0.4638 - accuracy: 0.7810

[0.4637787342071533, 0.7810011506080627]

파라미터 튜닝을 하기전에 간단히 임의로 넣어본 결과도 꽤 좋습니다. 이젠 GridSearchCV 를 사용해서 튜닝을 해보겠습니다.

## GridSearchCV 사용

In [51]:
# 모델 만들기
tf.random.set_seed(7)

def model_builder(nodes=16, activation='relu'):

  model = Sequential()
  model.add(Dense(nodes, activation=activation))
  model.add(Dense(nodes, activation=activation))
  model.add(Dense(1, activation='sigmoid')) # 이진분류니까 노드수 1, 활성함수로는 시그모이드

  model.compile(optimizer='adam', 
                loss='binary_crossentropy', 
                metrics=['accuracy'])

  return model

# keras.wrapper를 활용하여 분류기를 만듭니다
model = KerasClassifier(build_fn=model_builder, verbose=0)

# GridSearch
batch_size = [64, 128, 256]
epochs = [10, 20, 30]
nodes = [64, 128, 256]
activation = ['relu', 'sigmoid']
param_grid = dict(batch_size=batch_size, epochs=epochs, nodes=nodes, activation=activation)


# GridSearch CV를 만들기
grid = GridSearchCV(estimator=model, param_grid=param_grid, cv=3, verbose=1, n_jobs=-1)
grid_result = grid.fit(X_train_scaled, y_train)

Fitting 3 folds for each of 54 candidates, totalling 162 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 162 out of 162 | elapsed:  4.2min finished

In [52]:
# 최적의 결과값을 낸 파라미터를 출력합니다
print(f"Best: {grid_result.best_score_} using {grid_result.best_params_}")
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print(f"Means: {mean}, Stdev: {stdev} with: {param}")

Best: 0.8050815264383951 using {'activation': 'sigmoid', 'batch_size': 128, 'epochs': 30, 'nodes': 256}
Means: 0.7986348271369934, Stdev: 0.0036864202458742664 with: {'activation': 'relu', 'batch_size': 64, 'epochs': 10, 'nodes': 64}
Means: 0.7961698969205221, Stdev: 0.0023833660590764157 with: {'activation': 'relu', 'batch_size': 64, 'epochs': 10, 'nodes': 128}
Means: 0.7956010500590006, Stdev: 0.003950079483791001 with: {'activation': 'relu', 'batch_size': 64, 'epochs': 10, 'nodes': 256}
Means: 0.7952218453089396, Stdev: 0.003217771394311723 with: {'activation': 'relu', 'batch_size': 64, 'epochs': 20, 'nodes': 64}
Means: 0.7796738545099894, Stdev: 0.015272685569296538 with: {'activation': 'relu', 'batch_size': 64, 'epochs': 20, 'nodes': 128}
Means: 0.7732271552085876, Stdev: 0.009964882205089112 with: {'activation': 'relu', 'batch_size': 64, 'epochs': 20, 'nodes': 256}
Means: 0.787258247534434, Stdev: 0.0040489550995696615 with: {'activation': 'relu', 'batch_size': 64, 'epochs': 30, 'nodes': 64}
Means: 0.7781569957733154, Stdev: 0.009392837235885026 with: {'activation': 'relu', 'batch_size': 64, 'epochs': 30, 'nodes': 128}
Means: 0.7616609732309977, Stdev: 0.011555280512507 with: {'activation': 'relu', 'batch_size': 64, 'epochs': 30, 'nodes': 256}
Means: 0.797686775525411, Stdev: 0.0017583557954511466 with: {'activation': 'relu', 'batch_size': 128, 'epochs': 10, 'nodes': 64}
Means: 0.8001516858736674, Stdev: 0.005899238190271824 with: {'activation': 'relu', 'batch_size': 128, 'epochs': 10, 'nodes': 128}
Means: 0.7956010500590006, Stdev: 0.0026409567759862027 with: {'activation': 'relu', 'batch_size': 128, 'epochs': 10, 'nodes': 256}
Means: 0.7971179286638895, Stdev: 0.003547257765513315 with: {'activation': 'relu', 'batch_size': 128, 'epochs': 20, 'nodes': 64}
Means: 0.7908608317375183, Stdev: 0.003950051826349737 with: {'activation': 'relu', 'batch_size': 128, 'epochs': 20, 'nodes': 128}
Means: 0.7828972339630127, Stdev: 0.005094801996467334 with: {'activation': 'relu', 'batch_size': 128, 'epochs': 20, 'nodes': 256}
Means: 0.7908608317375183, Stdev: 0.008791841108074908 with: {'activation': 'relu', 'batch_size': 128, 'epochs': 30, 'nodes': 64}
Means: 0.7842244903246561, Stdev: 0.009431045204639549 with: {'activation': 'relu', 'batch_size': 128, 'epochs': 30, 'nodes': 128}
Means: 0.7792946696281433, Stdev: 0.010058232831119363 with: {'activation': 'relu', 'batch_size': 128, 'epochs': 30, 'nodes': 256}
Means: 0.797307550907135, Stdev: 0.005220269990159135 with: {'activation': 'relu', 'batch_size': 256, 'epochs': 10, 'nodes': 64}
Means: 0.7961698969205221, Stdev: 0.007522489763258314 with: {'activation': 'relu', 'batch_size': 256, 'epochs': 10, 'nodes': 128}
Means: 0.8001516858736674, Stdev: 0.005732343495866289 with: {'activation': 'relu', 'batch_size': 256, 'epochs': 10, 'nodes': 256}
Means: 0.7965491016705831, Stdev: 0.0014189073543228235 with: {'activation': 'relu', 'batch_size': 256, 'epochs': 20, 'nodes': 64}
Means: 0.796549121538798, Stdev: 0.0049661863597286835 with: {'activation': 'relu', 'batch_size': 256, 'epochs': 20, 'nodes': 128}
Means: 0.7904816071192423, Stdev: 0.006956357443600675 with: {'activation': 'relu', 'batch_size': 256, 'epochs': 20, 'nodes': 256}
Means: 0.7984452048937479, Stdev: 0.005769871915376814 with: {'activation': 'relu', 'batch_size': 256, 'epochs': 30, 'nodes': 64}
Means: 0.7889647483825684, Stdev: 0.006435570886522453 with: {'activation': 'relu', 'batch_size': 256, 'epochs': 30, 'nodes': 128}
Means: 0.7811907529830933, Stdev: 0.010885610319275353 with: {'activation': 'relu', 'batch_size': 256, 'epochs': 30, 'nodes': 256}
Means: 0.8047023216883341, Stdev: 0.00026816634812531505 with: {'activation': 'sigmoid', 'batch_size': 64, 'epochs': 10, 'nodes': 64}
Means: 0.7999620834986368, Stdev: 0.0038673006995410698 with: {'activation': 'sigmoid', 'batch_size': 64, 'epochs': 10, 'nodes': 128}
Means: 0.796928346157074, Stdev: 0.005929656466441374 with: {'activation': 'sigmoid', 'batch_size': 64, 'epochs': 10, 'nodes': 256}
Means: 0.8024269938468933, Stdev: 0.003516728730436511 with: {'activation': 'sigmoid', 'batch_size': 64, 'epochs': 20, 'nodes': 64}
Means: 0.7946530183156332, Stdev: 0.006698341053021006 with: {'activation': 'sigmoid', 'batch_size': 64, 'epochs': 20, 'nodes': 128}
Means: 0.7978763580322266, Stdev: 0.0147773746107027 with: {'activation': 'sigmoid', 'batch_size': 64, 'epochs': 20, 'nodes': 256}
Means: 0.8001516858736674, Stdev: 0.003021886787369274 with: {'activation': 'sigmoid', 'batch_size': 64, 'epochs': 30, 'nodes': 64}
Means: 0.8045127193133036, Stdev: 0.003161404634363336 with: {'activation': 'sigmoid', 'batch_size': 64, 'epochs': 30, 'nodes': 128}
Means: 0.7982555826505026, Stdev: 0.005383034458768887 with: {'activation': 'sigmoid', 'batch_size': 64, 'epochs': 30, 'nodes': 256}
Means: 0.7959802746772766, Stdev: 0.0031614320415412757 with: {'activation': 'sigmoid', 'batch_size': 128, 'epochs': 10, 'nodes': 64}
Means: 0.7988244295120239, Stdev: 0.004878542483683247 with: {'activation': 'sigmoid', 'batch_size': 128, 'epochs': 10, 'nodes': 128}
Means: 0.7940841913223267, Stdev: 0.013004483328468978 with: {'activation': 'sigmoid', 'batch_size': 128, 'epochs': 10, 'nodes': 256}
Means: 0.8026166160901388, Stdev: 0.0012287914199756252 with: {'activation': 'sigmoid', 'batch_size': 128, 'epochs': 20, 'nodes': 64}
Means: 0.8024270137151083, Stdev: 0.002721407078751164 with: {'activation': 'sigmoid', 'batch_size': 128, 'epochs': 20, 'nodes': 128}
Means: 0.7963595191637675, Stdev: 0.003627447216988329 with: {'activation': 'sigmoid', 'batch_size': 128, 'epochs': 20, 'nodes': 256}
Means: 0.8012893398602804, Stdev: 0.002799567972849918 with: {'activation': 'sigmoid', 'batch_size': 128, 'epochs': 30, 'nodes': 64}
Means: 0.8047023216883341, Stdev: 0.003092422265235535 with: {'activation': 'sigmoid', 'batch_size': 128, 'epochs': 30, 'nodes': 128}
Means: 0.8050815264383951, Stdev: 0.005442814157502328 with: {'activation': 'sigmoid', 'batch_size': 128, 'epochs': 30, 'nodes': 256}
Means: 0.7846037149429321, Stdev: 0.006767760638259018 with: {'activation': 'sigmoid', 'batch_size': 256, 'epochs': 10, 'nodes': 64}
Means: 0.7925673127174377, Stdev: 0.00431545221140531 with: {'activation': 'sigmoid', 'batch_size': 256, 'epochs': 10, 'nodes': 128}
Means: 0.7993932565053304, Stdev: 0.0021949074345258748 with: {'activation': 'sigmoid', 'batch_size': 256, 'epochs': 10, 'nodes': 256}
Means: 0.7971179485321045, Stdev: 0.006167432636296146 with: {'activation': 'sigmoid', 'batch_size': 256, 'epochs': 20, 'nodes': 64}
Means: 0.7961698969205221, Stdev: 0.007522489763258314 with: {'activation': 'sigmoid', 'batch_size': 256, 'epochs': 20, 'nodes': 128}
Means: 0.799203634262085, Stdev: 0.006935662502294026 with: {'activation': 'sigmoid', 'batch_size': 256, 'epochs': 20, 'nodes': 256}
Means: 0.8003412882486979, Stdev: 0.004256711442603188 with: {'activation': 'sigmoid', 'batch_size': 256, 'epochs': 30, 'nodes': 64}
Means: 0.8035646478335062, Stdev: 0.002094300432079147 with: {'activation': 'sigmoid', 'batch_size': 256, 'epochs': 30, 'nodes': 128}
Means: 0.8033750653266907, Stdev: 0.0014189020442296053 with: {'activation': 'sigmoid', 'batch_size': 256, 'epochs': 30, 'nodes': 256}

### 문항 7) 최적의 결과를 낸 파라미터와 결과값을 입력해주세요.

- batch_size
- epochs
- nodes
- activation

- 정답은 `[100, 100, 100], activation_name` 형태로 입력해주세요.

다음으로 Keras Tuner 를 사용한 파라미터 튜닝도 해보겠습니다.

## Keras Tuner 사용

In [63]:
# 모델 만들기

def model_builder(hp):

  model = Sequential()

  # Dense layer에서 노드 수를 조정(32-512)
  hp_units = hp.Int('units', min_value = 32, max_value = 512, step = 32)

  model.add(Dense(units = hp_units, activation='relu'))
  model.add(Dense(units = hp_units, activation='relu'))

  model.add(Dense(1, activation='sigmoid')) # 이진분류니까 노드수 1, 활성함수로는 시그모이드

  # Optimizer의 학습률(learning rate)을 조정[0.01, 0.001, 0.0001]합니다. 
  hp_learning_rate = hp.Choice('learning_rate', values = [1e-2, 1e-3, 1e-4])

  # 컴파일 단계, 옵티마이저와 손실함수, 측정지표를 연결해서 계산 그래프를 구성함
  model.compile(optimizer=keras.optimizers.Adam(learning_rate = hp_learning_rate), 
                loss=keras.losses.BinaryCrossentropy(from_logits = True), 
                metrics=['accuracy'])

  return model

In [64]:
# 튜너를 인스턴스화하고 하이퍼 튜닝을 수행

tuner = kt.Hyperband(model_builder,
                     objective = 'val_accuracy', 
                     max_epochs = 30, 
                     factor = 3,
                     directory = 'my_dir',
                     project_name = 'intro_to_kt')

INFO:tensorflow:Reloading Oracle from existing project my_dir/intro_to_kt/oracle.json
INFO:tensorflow:Reloading Tuner from my_dir/intro_to_kt/tuner0.json

In [65]:
# callback 정의 : 하이퍼 파라미터 검색을 실행하기 전에 모든 교육 단계가 끝날 때마다 교육 출력을 지우도록 콜백을 정의합니다.

class ClearTrainingOutput(tf.keras.callbacks.Callback):
  def on_train_end(*args, **kwargs):
    IPython.display.clear_output(wait = True)

In [66]:
tuner.search(X_train_scaled, y_train, epochs = 30, batch_size=50, validation_data = (X_test_scaled,y_test), callbacks = [ClearTrainingOutput()])

best_hps = tuner.get_best_hyperparameters(num_trials = 1)[0]

print(f"""
최적화된 Dense 노드 수 : {best_hps.get('units')} 
최적화된 Learning Rate : {best_hps.get('learning_rate')} 
""")

INFO:tensorflow:Oracle triggered exit

최적화된 Dense 노드 수 : 192
최적화된 Learning Rate : 0.01

### 문항 8) Keras 튜너를 활용하여 얻어낸 파라미터를 입력하시오. 

- 정답은 `[100, 100]` 형태로 입력하시오.

In [67]:
from tensorflow.keras import regularizers

tf.random.set_seed(1442)
initializer = tf.keras.initializers.HeNormal()

model = Sequential()

model.add(Dense(best_hps.get('units'), 
                activation='relu', kernel_initializer=initializer,          
                kernel_regularizer=regularizers.l2(0.01),    # L2 norm regularization
                activity_regularizer=regularizers.l1(0.01))) # L1 norm regularization))
model.add(Dense(best_hps.get('units'),
                activation='relu', kernel_initializer=initializer,            
                kernel_regularizer=regularizers.l2(0.01),    # L2 norm regularization
                activity_regularizer=regularizers.l1(0.01)))
model.add(Dense(1, activation='sigmoid')) # 이진분류니까 노드수 1, 활성함수로는 시그모이드

model.compile(optimizer=keras.optimizers.Adam(learning_rate = best_hps.get('learning_rate')), 
              loss='binary_crossentropy', 
              metrics=['accuracy'])

results = model.fit(X_train_scaled, y_train, epochs=2, batch_size=50, validation_data=(X_test_scaled,y_test))

Epoch 1/2
106/106 [==============================] - 1s 5ms/step - loss: 2.3811 - accuracy: 0.7336 - val_loss: 0.5458 - val_accuracy: 0.7844
Epoch 2/2
106/106 [==============================] - 0s 3ms/step - loss: 0.4977 - accuracy: 0.7893 - val_loss: 0.4944 - val_accuracy: 0.7975

In [61]:
# 테스트셋 사용해서 결과 보기
model.evaluate(X_test_scaled,  y_test, verbose=2)

55/55 - 0s - loss: 0.4944 - accuracy: 0.7975

[0.4943976402282715, 0.7974971532821655]