<a href="https://colab.research.google.com/github/Elizabeth0311/Algorithm_study/blob/main/n111a_eda_ipynb_2nd_trial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 1*

---

# 📝 Assignment

## 1.데이터셋 불러오기 연습

다음 url에서 엑셀 파일을 불러오세요. (pandas excel)

<https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx>

  - 데이터셋 변수의 이름은 `df1`, `df2`로 저장하세요.
  - row가 아닌 column에 '매출액', '영업이익' 이 가도록 데이터를 transpose 하세요.
  - 이후 아래 링크를 참조하여 첫번째 row를 column name으로 설정하세요.

<https://stackoverflow.com/questions/31328861/python-pandas-replacing-header-with-top-row>

- 파일은 2개의 시트로 구성되어 있으며 각각 이름은 `008770`, `035250` 입니다.

In [ ]:
data_url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx'

import pandas as pd

df1 = pd.read_excel(data_url , sheet_name='008770 ')

df1=df1.transpose()

# df1= df1.rename(columns=df1.iloc[0])   #column 이름 지정 (row의 0번째 줄을 column이름으로 정하는건가?)
new_header = df1.iloc[0] #첫번째 row를 header로 잡기
df1 = df1[1:]   # 잡은 hearder row를 내리기
df1.columns = new_header # header를 column으로로 지정, 

df1

In [ ]:
df2 = pd.read_excel(data_url, sheet_name='035250')

df2= df2.transpose()

new_header = df2.iloc[0]
df2 = df2[1:]
df2.columns = new_header

df2

## 2. 데이터 확인

- 데이터의 dimension을 확인하세요.
- 데이터의 결측치가 어디에 있는지 확인 후 0으로 대체하세요.
- 각 데이터 별로 **FCF**의 값을 barplot으로 시각화하세요.
  - 0보다 큰값, 작은값의 수의 총합을 `num1`, `num2`에 저장하세요

In [ ]:
#dimension

print(df1.shape)
print(df2.shape)

(8, 32)
(8, 32)

In [ ]:
df1.isnull()  #결측치 확인, 결측값을 True로 반환 

df1.fillna(0,inplace=True)  #결측치 0으로 대체
df1

In [ ]:
import matplotlib.pyplot as plt

# df1['FCF'].plot(x="FCF", kind="bar", figsize=(9,8), rot=0)

df1['FCF'].plot.bar(x="FCF",figsize=(9,8), rot=0)  #그래프종류를 지정
plt.show()

# from matplotlib import pyplot as plt
# import seaborn as sns 
# sns.barplot(data=df1, x = 'FCF')
# plt.show

In [ ]:
df2['FCF'].plot(x="FCF", kind="bar", figsize=(9,8), rot=0)
plt.show()

In [ ]:
# FCF 음수 값 찾기 #출력안됨

print(df1[df1['FCF'] >= 0])

In [ ]:
num1 = 6941 
num2 = -11263

## 3. File export

- 읽었던 엑셀 파일의 내용을 2개의 csv로 각각 출력하세요. (python export csv)

  - 이름은 각각 `df1.csv`, `df2.csv` 입니다.

In [ ]:
df1.to_csv('df1.csv') #출력안됨 

print(df1)
print(df1.info())

# df1.csv = df1.to_csv

In [18]:
df2.to_csv('df1.csv')

## 4. Error Handling

- 다음의 에러를 고치세요. 결과값은 6912가 나와야합니다.

In [ ]:
a = 1234
b = 5678

a+b

6912

## 5. EDA

아래의 코드는 palmer penguin 데이터를 불러올 수 있는 코드입니다.

```python
import seaborn as sns

pp = sns.load_dataset('penguins')
```

이를 참조하여, `pp`의 `species`와 `sex`변수에 대해서 cross-tabulation을 시행하고, 6개의 값들 중 가장 큰 값을 `num3`에, 가장 작은 값을 `num4`에 저장하세요.

## Grading

이전 과제를 완료했다면, 아래의 코드를 실행하세요.

In [ ]:
import os

def grade(df1, df2, num1, num2, num3, num4):
  score = 0
  
  score += (df1['매출액'][0] == 14753)
  score += (df2['매출액'][1] == 3728)

  score += (df1.shape == (8, 32))
  score += (df2.isnull().sum().sum() == 0)
  score += (num1 == 4 and num2 == 6)
  
  score += (num3 == 73 and num4 == 34)

  score += (os.listdir() == ['.config', 'df2.csv', 'df1.csv', 'sample_data'])

  score += (a+b == 6912)

  return(score)

In [ ]:
grade(df1, df2, num1, num2, num3, num4)

## 🔥 도전과제 

- 다음 데이터를 사용하여 아래와 동일한 그래프를 그리세요.

<https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/TSLA.csv>

<img src='https://i.imgur.com/UsS5JcZ.png'>

- penguins 데이터를 계속 사용합니다.

이에 대해 아래의 task들을 시행하세요.

- 결측치 처리 (제거)

- bill_length_mm에 대해서 qqplot 그리기

- island에 대해서 다른 4개의 numerical feature 를 boxplot으로 표현하기

- 각 numerical feature에 대해서 summary statistics : mean, sd, Quantiles(1Q, 2Q, 3Q, 4Q)를 계산하세요.